<a href="https://colab.research.google.com/github/Amit80007/Python-For-Data-Science/blob/master/pandas_lib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from fastai import *
from fastai.vision import *

In [0]:
import pandas as pd

**Read Data From CSV**

In [0]:
 df=pd.read_csv('Pokemon.csv')

In [7]:
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 13 columns]

In [8]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:
print(df[['Name','HP']][0:5])

                    Name  HP
0              Bulbasaur  45
1                Ivysaur  60
2               Venusaur  80
3  VenusaurMega Venusaur  80
4             Charmander  39

**Integer Location**

In [10]:
print(df.iloc[1:3,1:4])

       Name Type 1  Type 2
1   Ivysaur  Grass  Poison
2  Venusaur  Grass  Poison

***Iter through rows***

In [11]:
for index,row in df.iterrows():
  if index <5 : print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander

Use of **df.loc** is to find out data which is not just integer based

In [12]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [13]:
df.loc[df['Name']=='Ivysaur']

   #     Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
1  2  Ivysaur  Grass  Poison  ...       80     60           1      False

[1 rows x 13 columns]

**Sorting/Describe data**

In [14]:
df.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

In [15]:
df.sort_values(['Type 1','HP'],ascending=False)[0:5]
df.sort_values(['Type 1','HP'],ascending=[1,0])[0:5]

       #                     Name Type 1  ... Speed  Generation  Legendary
520  469                  Yanmega    Bug  ...    95           4      False
698  637                Volcarona    Bug  ...   100           5      False
231  214                Heracross    Bug  ...    85           2      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False

[5 rows x 13 columns]

In [16]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

**How to drop a column**

In [0]:
df = df.drop(columns=['Generation'])

**How to perform operations on Multiple columns together and store the result to new Column**

In [18]:
df.head()

   #                   Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Legendary
0  1              Bulbasaur  Grass  Poison  ...       65       65     45      False
1  2                Ivysaur  Grass  Poison  ...       80       80     60      False
2  3               Venusaur  Grass  Poison  ...      100      100     80      False
3  3  VenusaurMega Venusaur  Grass  Poison  ...      122      120     80      False
4  4             Charmander   Fire     NaN  ...       60       50     65      False

[5 rows x 12 columns]

In [0]:
df['agg']= df.iloc[:,4:9].sum(axis=1)

**How to reorder columns in table**

In [0]:
cols=list(df.columns)
df=df[cols[0:4] + cols[-1:-2] + cols[5:9]]

**How to store data to CSV**

In [0]:
df.to_csv('Modified.csv',index=False)
df.to_csv('Modified1.txt',index=False,sep='\t')

In [0]:
df_mod=pd.read_csv('Modified.csv')

In [23]:
df_mod.head()

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

**Filtering Data**

In [25]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk'], dtype='object')

In [0]:
df[(df['Type 1']=='Grass') & (df['HP']==45)].reset_index(drop=True,inplace=True)

In [37]:
df.head()

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

In [51]:
import re
df.loc[df['Name'].str.contains('Ven|Cha',regex=True)]
df.loc[df['Name'].str.contains('Ven|Cha',flags=re.I,regex=True)]
df.loc[df['Name'].str.contains('ve[a-z][1-9]*',flags=re.I,regex=True)]

       #                   Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk
2      3               Venusaur   Grass  Poison   80      82       83      100
3      3  VenusaurMega Venusaur   Grass  Poison   80     100      123      122
53    48                Venonat     Bug  Poison   60      55       50       40
54    49               Venomoth     Bug  Poison   70      65       60       90
81    75               Graveler    Rock  Ground   55      95      115       45
144  133                  Eevee  Normal     NaN   55      55       50       45
463  416              Vespiquen     Bug  Flying   70      80      102       80
509  459                 Snover   Grass     Ice   60      62       50       62
603  543               Venipede     Bug  Poison   30      45       59       30
697  636               Larvesta     Bug    Fire   55      85       55       50
770  700                Sylveon   Fairy     NaN   95      65       65      110
779  709              Trevenant   Ghost   Grass   85     110       76       65
780  710  PumpkabooAverage Size   Ghost   Grass   49      66       70       44
784  711  GourgeistAverage Size   Ghost   Grass   65      90      122       58
791  715                Noivern  Flying  Dragon   85      70       80       97
793  717                Yveltal    Dark  Flying  126     131       95      131

**Conditional Changes**

In [0]:
df.loc[df['Name']=='Eevee', 'Type 1']='Amit'

In [62]:
df.loc[df['Name']=='Eevee']

       #   Name Type 1 Type 2     HP  Attack Defense  Sp. Atk
144  133  Eevee   Amit    NaN  Test1      55   Test2       45

In [0]:
df.loc[df['Type 1']=='Amit', ['HP','Defense']] = ['Test1','Test2']

**Aggregate Statistics(Groupby)**

In [77]:
df.groupby('Type 1').mean().sort_values('Attack',ascending=True).head()
df.groupby('Type 1').sum(axis=1)
df['count']=1
df.groupby(['Type 1','Type 2']).count()['count'].head()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
Name: count, dtype: int64

**Working with large dataset**

In [80]:
for df in pd.read_csv('Pokemon.csv', chunksize=5):
  print(df)
  break;

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [83]:
new_df =pd.DataFrame(df.columns)
for df in pd.read_csv('Pokemon.csv', chunksize=5):
  results = df.groupby('Type 1').count()
  new_df=pd.concat([new_df,results])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [86]:
new_df.head(10)

         0   #  Attack  Defense  ...  Sp. Def  Speed  Total  Type 2
0        # NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
1     Name NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
2   Type 1 NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
3   Type 2 NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
4    Total NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
5       HP NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
6   Attack NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
7  Defense NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
8  Sp. Atk NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN
9  Sp. Def NaN     NaN      NaN  ...      NaN    NaN    NaN     NaN

[10 rows x 13 columns]